<div class="row">
  <aside class="sidebar col-1">
      <button (click)="onRegistroClick()">Registro</button>
      <button (click)="onConsultaClick()">Consulta</button>
  </aside>

  <!-- <main class="content" style="margin-left: 15%;">
      <header>
          <h1>Bienvenido a Mi Página de Inicio</h1>
      </header>

      <nav>
          <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Acerca de</a></li>
              <li><a href="#">Servicios</a></li>
              <li><a href="#">Contacto</a></li>
          </ul>
      </nav>

      <section>
          <h2>Contenido Principal</h2>
          <p>Este es el contenido principal de tu página de inicio. Puedes agregar aquí lo que desees.</p>
      </section>

      <footer>
          <p>Derechos de autor © 2023 - Tu Nombre</p>
      </footer>
  </main> -->
</div>
