<div class="row">
    <aside class="sidebar col-1">
        <button (click)="onRegistroClick()">Registro</button>
        <button (click)="onConsultaClick()">Dar Prestamo</button>
        <button (click)="onHomeClick()">Ver Clientes</button>
    </aside>

    <main class="content" style="margin-left: 15%;">
        <header>
            <h1>Clientes Registrados</h1>
          </header>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>RFC</th>
                <th>Edad</th>
                <th>Fecha de registro</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Ver Prestamo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let resultado of resultados; let i = index;">
                <td>{{ resultado.id_cliente }}</td>
                <td>{{ resultado.nombre }}</td>
                <td>{{ resultado.rfc }}</td>
                <td>{{ resultado.edad }}</td>
                <td>{{ resultado.fecha_alta | date:'dd/MM/yyyy' }}</td>
                <td>{{ resultado.telefono }}</td>
                <td>{{ resultado.correo }}</td>
                <td>
                    <button class="btn btn-primary" (click)="mostrarTabla(i + 1)"  type="button">
                        Ver
                      </button>
                </td>
            </tr>
        </tbody>
    </table>
    </main>
</div>
