<div class="row">
  <aside class="sidebar col-1">
    <button (click)="onRegistroClick()">Registro</button>
        <button (click)="onConsultaClick()">Dar Prestamo</button>
        <button (click)="onHomeClick()">Ver Clientes</button>
  </aside>

  <main class="content" style="margin-left: 15%;">
    <header>
      <h1>Bienvenido a Mi Página de Inicio</h1>
    </header>
    <form [formGroup]="clientForm">
      <div class="form-group">
        <label for="id_cliente">ID del Cliente</label>
        <input type="text" class="form-control" formControlName="id_cliente" />
        <button type="button" class="btn btn-primary" (click)="buscarCliente()" style="width: 50%;">Buscar</button>
      </div>
      <div class="form-group">
        <label for="monto">Monto</label>
        <input type="number" class="form-control" formControlName="monto" [disabled]="!clienteEncontrado" />
      </div>
      <div class="form-group">
        <label for="plazo_meses">Plazos</label>
        <input type="number" class="form-control" formControlName="plazo_meses" [disabled]="!clienteEncontrado" />
      </div>
      <div class="form-group">
        <label for="interes">Interés</label>
        <input type="number" class="form-control" formControlName="interes" [disabled]="!clienteEncontrado" />
        <button type="submit" class="btn btn-primary" (click)="calcular()" style="width: 50%;">Calcular</button>
      </div>
      <br>
    </form>

    <div>
      <p *ngIf="clienteEncontrado"> Nombre del cliente: {{ this.nombreCliente }}</p>
    </div>

    <div *ngIf="resultados.length > 0">
      <table class="table">
        <thead>
          <tr>
            <th>Periodo</th>
            <th>Cuota</th>
            <th>Interés</th>
            <th>Capital</th>
            <th>Saldo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let resultado of resultados">
            <td>{{ resultado.periodo }}</td>
            <td>{{ resultado.cuota }}</td>
            <td>{{ resultado.interes }}</td>
            <td>{{ resultado.capital }}</td>
            <td>{{ resultado.saldo }}</td>
          </tr>
        </tbody>
      </table>
      <p>Total a pagar: {{ totalPago }}</p>
      <button (click)="creditoAprobado()">Aprobar Credito</button>
    </div>
  </main>
</div>
