
<div class="row">
    <aside class="sidebar col-1">
        <button (click)="onRegistroClick()">Registro</button>
        <button (click)="onConsultaClick()">Consulta</button>
    </aside>


    
  
    <main class="content" style="margin-left: 15%;">
        <header>
            <h1>Bienvenido a Mi Página de Inicio</h1>
        </header>
        <form [formGroup]="clientForm">
            <div class="form-group">
              <label for="id">ID</label>
              <input type="text" class="form-control" formControlName="id" />
            </div>
            <div class="form-group">
              <label for="monto">Monto</label>
              <input type="number" class="form-control" formControlName="monto" />
            </div>
            <div class="form-group">
              <label for="plazos">Plazos</label>
              <input type="number" class="form-control" formControlName="plazos" />
            </div>
            <div class="form-group">
              <label for="interes">Interés</label>
              <input type="number" class="form-control" formControlName="interes" />
            </div>
            <br>
            <button type="submit" class="btn btn-primary" (click)="buscar()" style="width: 10%;">Enviar</button>
          </form>
          <div *ngIf="resultados.length > 0">
            <table class="table">
              <thead>
                <tr>
                  <th>Periodo</th>
                  <th>Cuota</th>
                  <th>Interés</th>
                  <th>Capital</th>
                  <th>Saldo</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let resultado of resultados">
                  <td>{{ resultado.periodo }}</td>
                  <td>{{ resultado.cuota }}</td>
                  <td>{{ resultado.interes }}</td>
                  <td>{{ resultado.capital }}</td>
                  <td>{{ resultado.saldo }}</td>
                </tr>
              </tbody>
            </table>
            <button (click)="creditoAprobado()">Aprobar Credito</button>
          </div>
  
       
    </main>
  </div>