<div class="row">
  <aside class="sidebar col-1">
    <button (click)="onRegistroClick()">Registro</button>
        <button (click)="onConsultaClick()">Dar Prestamo</button>
        <button (click)="onHomeClick()">Ver Clientes</button>
  </aside>

  <main class="content" style="margin-left: 15%;">
    <div class="center-container">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Formulario de Registro</h2>
          <form [formGroup]="formularioRegistro">
            <div class="form-group">
              <label for="nombre">Nombre Completo:</label>
              <input type="text" id="nombre" formControlName="nombre" class="form-control"
                [ngClass]="{'is-invalid': formularioRegistro.get('nombre')?.invalid && formularioRegistro.get('nombre')?.touched, 'is-valid': formularioRegistro.get('nombre')?.valid && formularioRegistro.get('nombre')?.touched, 'is-empty': formularioRegistro.get('nombre')?.untouched}">
            </div>

            <div class="form-group">
              <label for="rfc">RFC:</label>
              <input type="text" id="rfc" formControlName="rfc" class="form-control" maxlength="13"
                [ngClass]="{'is-invalid': formularioRegistro.get('rfc')?.invalid && formularioRegistro.get('rfc')?.touched, 'is-valid': formularioRegistro.get('rfc')?.valid && formularioRegistro.get('rfc')?.touched, 'is-empty': formularioRegistro.get('rfc')?.untouched}">
            </div>

            <div class="form-group">
              <label for="edad">Edad:</label>
              <input type="number" id="edad" formControlName="edad" class="form-control" min="1" max="99"
                [ngClass]="{'is-invalid': formularioRegistro.get('edad')?.invalid && formularioRegistro.get('edad')?.touched, 'is-valid': formularioRegistro.get('edad')?.valid && formularioRegistro.get('edad')?.touched, 'is-empty': formularioRegistro.get('edad')?.untouched}">
            </div>

            <div class="form-group">
              <label for="fecha_alta">Fecha de Alta:</label>
              <input type="date" id="fecha_alta" formControlName="fecha_alta" class="form-control"
                [ngClass]="{'is-invalid': formularioRegistro.get('fecha_alta')?.invalid && formularioRegistro.get('fecha_alta')?.touched, 'is-valid': formularioRegistro.get('fecha_alta')?.valid && formularioRegistro.get('fecha_alta')?.touched, 'is-empty': formularioRegistro.get('fecha_alta')?.untouched}">
            </div>

            <div class="form-group">
              <label for="telefono">Teléfono:</label>
              <input type="tel" id="telefono" formControlName="telefono" class="form-control"
                [ngClass]="{'is-invalid': formularioRegistro.get('telefono')?.invalid && formularioRegistro.get('telefono')?.touched, 'is-valid': formularioRegistro.get('telefono')?.valid && formularioRegistro.get('telefono')?.touched, 'is-empty': formularioRegistro.get('telefono')?.untouched}">
            </div>

            <div class="form-group">
              <label for="correo">Correo:</label>
              <input type="email" id="correo" formControlName="correo" class="form-control"
                [ngClass]="{'is-invalid': formularioRegistro.get('correo')?.invalid && formularioRegistro.get('correo')?.touched, 'is-valid': formularioRegistro.get('correo')?.valid && formularioRegistro.get('correo')?.touched, 'is-empty': formularioRegistro.get('correo')?.untouched}">
            </div>
            <br>

            <div style="align-items: center; align-content: center; text-align: center;">
              <button type="submit" class="btn btn-primary" (click)="registro()">Registrarse</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>
